/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'fl-icons';
  font-display: swap;
  src:local('fl-icons'),
  url('fonts/fl-icons.woff2') format('woff'),
  url('fonts/fl-icons.woff2') format('opentype'),
  url('fonts/fl-icons.woff2') format('truetype');
  font-weight:normal;
  font-style:normal;
}